PID_URI_SCHEME=tag:openbookpublishers.com,2009
PID_URI_PREFIX=:website:
DOI_URI_SCHEME=info:doi
DOI_URI_PREFIX=:
CSV_LOC_URL=https://www.openbookpublishers.com/doi_prod_id_mapping.csv
CSV_PID_COL=0
CSV_DOI_COL=1
URI_API_ENDP=https://identifier.translation.service/translate
URI_API_URIS=https://identifier.translation.service/uris
AUTH_API_ENDP=https://authentication.service/auth
URI_API_USER=admin_user@openbookpublishers.com
URI_API_PASS=some_secret_password
