CSV_PATH=/usr/src/app/identifiers.csv
DEFAULT_TYPE=monograph
URI_API_ENDP=https://identifier.translation.service/translate
URI_API_WORKS=https://identifier.translation.service/works
URI_API_URIS=https://identifier.translation.service/uris
URI_API_TITLES=https://identifier.translation.service/titles
AUTH_API_ENDP=https://authentication.service/auth
URI_API_USER=admin_user@openbookpublishers.com
URI_API_PASS=some_secret_password
